/* line 1, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\000031}}
body {
  background: url('../image/light_grey.png');
}
/* line 15, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000315}}
#container > .row > span > span {
  height: 305px;
  padding: 0 5px;
  margin: 5px 0;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000320}}
#container > .row > span > span span.inner {
  text-align: center;
  display: inline-block;
  padding: 50px 15px 15px 15px;
  width: 100%;
  border-radius: 10px;
}
/* line 27, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000327}}
#container > .row > span > span span.inner.read {
  background-image: url("../image/favorite.png");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}
/* line 35, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000335}}
#container > .row > span .label-info {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 30px;
  padding: 15px 0;
  background-color: #00ABA9;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  cursor: pointer;
}
/* line 54, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000354}}
#container > .row > span .label-info .expandstate {
  margin-top: 85px;
  background-image: url("../image/right.png");
  height: 66px;
  width: 66px;
  display: inline-block;
}
/* line 62, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000362}}
#container > .row > span .label-info:hover {
  background-color: #00bab8;
}
/* line 67, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000367}}
#container > .row > span.active .label-info {
  background-color: #1dc8c6;
}
/* line 70, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000370}}
#container > .row > span.active .label-info .expandstate {
  background-image: url("../image/left.png");
}
/* line 74, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000374}}
#container > .row > span.active .label-info:hover {
  background-color: #1fd5d3;
}
/* line 80, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000380}}
#container > .row > a {
  display: inline-block;
}
/* line 83, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000383}}
#container > .row > a > * {
  margin: 15px 0;
}
/* line 87, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000387}}
#container > .row > a > span {
  height: 275px;
  padding: 0;
}
/* line 91, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000391}}
#container > .row > a > span > span {
  margin: 0;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  height: 240px;
}
/* line 106, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003106}}
#container > .row span.text span {
  background-color: #eee;
  margin: 20px;
}
/* line 110, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003110}}
#container > .row span.red {
  background-color: #E51400;
}
/* line 112, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003112}}
#container > .row span.red:hover {
  background-color: #ff1600;
}
/* line 116, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003116}}
#container > .row span.shockpink {
  background-color: #D80073;
}
/* line 118, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003118}}
#container > .row span.shockpink:hover {
  background-color: #f20081;
}
/* line 122, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003122}}
#container > .row span.blue {
  background-color: #1BA1E2;
}
/* line 124, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003124}}
#container > .row span.blue:hover {
  background-color: #30abe6;
}
/* line 128, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003128}}
#container > .row span.purple {
  background-color: #A200FF;
}
/* line 130, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003130}}
#container > .row span.purple:hover {
  background-color: #ab1aff;
}
/* line 134, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003134}}
#container > .row span.brown {
  background-color: #A05000;
}
/* line 136, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003136}}
#container > .row span.brown:hover {
  background-color: #ba5d00;
}
/* line 140, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003140}}
#container > .row span.orange {
  background-color: #F09609;
}
/* line 142, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003142}}
#container > .row span.orange:hover {
  background-color: #f6a11c;
}
/* line 146, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003146}}
#container > .row span.lightgreen {
  background-color: #A2C139;
}
/* line 148, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003148}}
#container > .row span.lightgreen:hover {
  background-color: #acca4a;
}
/* line 152, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003152}}
#container > .row span.pink {
  background-color: #E671B8;
}
/* line 154, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003154}}
#container > .row span.pink:hover {
  background-color: #ea87c3;
}
/* line 160, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003160}}
#container img {
  height: 240px;
}
