/* line 1, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\000031}}
body {
  background: url('../image/light_grey.png');
}
/* line 9, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\000039}}
#container {
  min-width: 480px;
}
/* line 14, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000314}}
#container > .row > span > span {
  height: 270px;
  padding: 0 5px;
  margin: 5px 0;
}
/* line 19, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000319}}
#container > .row > span > span span.inner {
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}
/* line 28, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000328}}
#container > .row > span .label-info {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 30px;
  padding: 15px 0;
  background-color: #00ABA9;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  cursor: pointer;
}
/* line 47, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000347}}
#container > .row > span .label-info .expandstate {
  margin-top: 70px;
  background-image: url("../image/right.png");
  height: 66px;
  width: 66px;
  display: inline-block;
}
/* line 55, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000355}}
#container > .row > span .label-info:hover {
  background-color: #00bab8;
}
/* line 60, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000360}}
#container > .row > span.active .label-info {
  background-color: #1dc8c6;
}
/* line 63, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000363}}
#container > .row > span.active .label-info .expandstate {
  background-image: url("../image/left.png");
}
/* line 67, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000367}}
#container > .row > span.active .label-info:hover {
  background-color: #1fd5d3;
}
/* line 73, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000373}}
#container > .row > a {
  display: inline-block;
}
/* line 76, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000376}}
#container > .row > a > * {
  margin: 15px 0;
}
/* line 80, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000380}}
#container > .row > a > span {
  height: 240px;
  padding: 0;
}
/* line 84, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000384}}
#container > .row > a > span > span {
  margin: 0;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  height: 240px;
}
/* line 99, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\0000399}}
#container > .row span.text span {
  background-color: #eee;
  margin: 20px;
}
/* line 103, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003103}}
#container > .row span.red {
  background-color: #E51400;
}
/* line 105, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003105}}
#container > .row span.red:hover {
  background-color: #ff1600;
}
/* line 109, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003109}}
#container > .row span.shockpink {
  background-color: #D80073;
}
/* line 111, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003111}}
#container > .row span.shockpink:hover {
  background-color: #f20081;
}
/* line 115, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003115}}
#container > .row span.blue {
  background-color: #1BA1E2;
}
/* line 117, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003117}}
#container > .row span.blue:hover {
  background-color: #30abe6;
}
/* line 121, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003121}}
#container > .row span.purple {
  background-color: #A200FF;
}
/* line 123, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003123}}
#container > .row span.purple:hover {
  background-color: #ab1aff;
}
/* line 127, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003127}}
#container > .row span.brown {
  background-color: #A05000;
}
/* line 129, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003129}}
#container > .row span.brown:hover {
  background-color: #ba5d00;
}
/* line 133, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003133}}
#container > .row span.orange {
  background-color: #F09609;
}
/* line 135, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003135}}
#container > .row span.orange:hover {
  background-color: #f6a11c;
}
/* line 139, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003139}}
#container > .row span.lightgreen {
  background-color: #A2C139;
}
/* line 141, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003141}}
#container > .row span.lightgreen:hover {
  background-color: #acca4a;
}
/* line 145, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003145}}
#container > .row span.pink {
  background-color: #E671B8;
}
/* line 147, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003147}}
#container > .row span.pink:hover {
  background-color: #ea87c3;
}
/* line 153, /Applications/XAMPP/xamppfiles/htdocs/engineerbooks/public_html/less/books.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/XAMPP\/xamppfiles\/htdocs\/engineerbooks\/public_html\/less\/books\.less}line{font-family:\00003153}}
#container img {
  height: 240px;
}
